body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

#header {
    height: 60px;
}

#menu {
    float: right;
}

#menu ul {
    list-style-type: none;
}

#menu ul li {
    float: left;
    margin-right: 20px;
    line-height: 60px;
}

#menu ul li a {
    color: #000000;
    text-decoration: none;
}

#introduction {
    background: black;
    overflow: hidden;
    background: #C33764;  /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(rgba(129, 196, 252, 0.8), rgba(57, 134, 206, 0.8)), url('./images/introduction-background.jpg');
    background: linear-gradient(rgba(129, 196, 252, 0.8), rgba(57, 134, 206, 0.8)), url('./images/introduction-background.jpg'); /* The least supported option. */
    width: 100vw;
    height: 800px;
    margin-bottom: 50px;
}

#hello {
    background: rgba(255, 255, 255, 0.25);
    height: 100%;
    width: 100%;
    padding-top: 550px;
    padding-left: 100px;
    z-index: 2;
}

#my-name {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    display: block;
    font-size: 90px;
}

#job-description {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    display: block;
    font-size: 50px;
}

#social_links {
    height: 30px;
    text-align: center;
    font-size: 30px;
}

#social_links a{
    color: #000000;
    text-decoration: none;
    margin-right: 10px;
}