body{
    font-family: 'Roboto';
}


#main-content{
    width: 960px;
}

#intro
{
    text-align: center;
    margin-bottom: 50px;
}


#social-links {
    text-align: center;
    font-size: 1.8em;
}

#social-links a {
    color:#000000;
    margin-right: 10px;
}


#social-links a:hover {
    text-decoration: none;
}

#about-me {
    text-align: center;
    margin-bottom: 50px;
}

#contact-me {
    text-align: center;
}